.idea/
cmake-build-*/
*.iml

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
CMakeScripts/
CTestTestfile.cmake
install_manifest.txt
compile_commands.json
CMakeUserPresets.json

build/
out/
bin/
Debug/
Release/
x64/
x86/

*.o
*.obj
*.lo
*.slo
*.ko

*.gch
*.pch

*.so
*.so.*
*.dylib
*.dll
*.a
*.lib

*.exe
*.out
*.app

*.dSYM/
*.su
*.idb
*.pdb

core
core.*

.ninja_deps
.ninja_log
*.ninja

conanbuildinfo.*
conaninfo.txt
conan.lock
vcpkg_installed/

# macOS
.DS_Store

Thumbs.db
ehthumbs.db
Desktop.ini

*.log